<div class="flex justify-center items-center min-h-screen">
    <div class="flex flex-col items-center w-100 gap-4 shadow-xl p-10 rounded-xl bg-white transform transition duration-500 hover:scale-105">
      <h4 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-3xl lg:text-3xl dark:text-white">Offres d'emploi</h4>
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">Titre</th>
            <th scope="col" class="px-6 py-3">Recruteur</th>
            <th scope="col" class="px-6 py-3">Département</th>
            <th scope="col" class="px-6 py-3">Région</th>
            <th scope="col" class="px-6 py-3">Salaire</th>
            <th scope="col" class="px-6 py-3"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let job of jobs" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{ job.title }}
            </th>
            <td class="px-6 py-4">{{ job.userId.name }}</td>
            <td class="px-6 py-4">{{ job.department }}</td>
            <td class="px-6 py-4">{{ job.region }}</td>
            <td class="px-6 py-4">{{ job.salary }}</td>
            <td class="px-6 py-4">
              <button class="bg-pink-500 text-white active:bg-pink-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal(job._id)">
                Supprimer
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>




  <div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-40 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative w-25 my-6 mx-auto max-w-2xl">
      <!--content-->
      <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
        <!--body-->
        <div class="relative p-6 flex-auto">
          <p class="my-4 text-blueGray-500 text-lg leading-relaxed">
            êtes-vous sûr de vouloir supprimer cet élement.
          </p>
        </div>
        <!--footer-->
        <div class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b">
          <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
            Annuler
          </button>
          <button class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="deleteElement()">
            Valider
          </button>
        </div>
      </div>
    </div>
  </div>
