<div class="min-h-screen flex justify-center items-center">
    <div *ngIf="jobPost" class="shadow-lg p-6 rounded-lg bg-white w-100">
      <h2 class="text-2xl font-bold text-blue-600 mb-4 text-center">
        Détail de l'offre
      </h2>
      <div class="grid grid-cols-2 gap-4">
        <div>
          <p class="text-gray-600 font-semibold">Titre de l'offre :</p>
          <p class="text-gray-900">{{ jobPost.title }}</p>
        </div>
        <div>
          <p class="text-gray-600 font-semibold">Recruteur :</p>
          <p class="text-gray-900">{{ jobPost.userId.name }}</p>
        </div>
        <div>
          <p class="text-gray-600 font-semibold">Département :</p>
          <p class="text-gray-900">{{ jobPost.department }}</p>
        </div>
        <div>
          <p class="text-gray-600 font-semibold">Région :</p>
          <p class="text-gray-900">{{ jobPost.region }}</p>
        </div>
        <div>
          <p class="text-gray-600 font-semibold">Diplôme requis :</p>
          <p class="text-gray-900">{{ jobPost.degree }}</p>
        </div>
        <div>
          <p class="text-gray-600 font-semibold">Salaire :</p>
          <p class="text-gray-900">{{ jobPost.salary }} TND</p>
        </div>
        <div class="col-span-2">
          <p class="text-gray-600 font-semibold">Description :</p>
          <p class="text-gray-900">{{ jobPost.description }}</p>
        </div>
        <div class="col-span-2">
          <button
          mat-raised-button
          color="primary"
          class="w-full mt-4 py-2 text-white bg-blue-600 hover:bg-blue-700 rounded-md shadow-md transition duration-300"
          (click)="postuler()"
          [disabled]="candidateApplied">
          {{ candidateApplied ? 'Déjà postuler' : 'Postuler pour cette offre' }}
        </button>
        </div>

      </div>
    </div>
    <div *ngIf="!jobPost" class="text-center">
      <p class="text-red-600">Chargement des détails de l'offre...</p>
    </div>
  </div>